<link href="https://fonts.cdnfonts.com/css/vic" rel="stylesheet">
<style>
    @import url('https://fonts.cdnfonts.com/css/vic');

    * {
        font-family: 'VIC', sans-serif;
    }

    .yo2kam-layout {
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto 200px;
    }

    .yo2kam-layout h1 {
        width: 100%;
        text-align: center;
    }


    .yo2kam-layout h2 {
        width: 100%;
        text-align: center;
    }


    .yo2kam-partners {
        display: inline-grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        grid-gap: 5px;
        max-width: 300px;
    }


    .yo2kam-partners img {
        align-self: start;
        justify-self: center;
    }

    .yo2kam-partners .title {
        grid-column: 1 / span 2;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .yo2kam-layout .block-center {
        margin: 20px;
        display: flex;
        justify-content: center;
    }

    .yo2kam-layout .block-images {
        margin: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .yo2kam-layout .block-images img {
        flex: 1;
        height: 298px;
        object-fit: contain;
        margin: 7px;
    }
</style>




<div class="yo2kam-layout">

    <div class="left">
        <h1>YO2KAM propune să activeze WCA YO-00183/AR-F03 Fortress Series</h1>
        <h2> ... pe 06.05.2023</h2>

        <p style="text-align:center"><strong><span style="font-size:26px">
                    <font>
                        <font>
                            <font>
                                <font> </font>
                            </font>
                        </font>
                    </font>
                </span></strong><span style="font-size:16px"><strong><span style="font-size:26px">
                        <font>
                            <font>
                                <font>
                                    <font></font>
                                </font>
                            </font>
                        </font>
                    </span></strong> </span></p>

        <p><span style="font-size:16px">
                <font>
                    <font>
                        <font>
                            <font>(daca nu ploua) </font>
                        </font>
                    </font>
                </font>
            </span><br />
            <a href="https://www.welcometoromania.eu/DN79a/DN79a_Siria_Cetatea_e.htm">
                <font>
                    <font>
                        <font>
                            <font>https://www.welcometoromania.eu/DN79a/DN79a_Siria_Cetatea_e.htm</font>
                        </font>
                    </font>
                </font>
            </a>
        </p>

        <p style="text-align:center"><img src="https://www.qrz.com/hampages/yo2kam/Castel_Siria.jpg"
                style="height:368px; width:500px" /></p>

        <p style="text-align:center"><span style="font-size:22px"><strong>
                    <font>
                        <font>
                            <font>
                                <font>&Icirc;nainte de YO2KAM ... istorie</font>
                            </font>
                        </font>
                    </font>
                </strong></span></p>

        <p><span style="color:#0000cd">
                <font>
                    <font>
                        <font>
                            <font>-&nbsp; </font>
                        </font>
                    </font>
                </font>
            </span><a href="http://dnat.de/ehrentafel-preistraeger/"><span style="color:#0000cd">
                    <font>
                        <font>
                            <font>
                                <font>Goldene Antenne 1991 - Stefan Szegedy, YO2BZ</font>
                            </font>
                        </font>
                    </font>
                </span></a><span style="color:#0000cd">&nbsp;</span></p>

        <p><span style="color:#0000cd">
                <font>
                    <font>
                        <font>
                            <font>-&nbsp; </font>
                        </font>
                    </font>
                </font>
            </span><a
                href="https://get.google.com/albumarchive/112411423626176356824/album/AF1QipOcwTDgedAdHojoccsnetBr1PHef7gArA8cM-aM"><span
                    style="color:#0000cd">
                    <font>
                        <font>
                            <font>
                                <font>In memoriam sk YO2BZ Szegedy Stefan - </font>
                            </font>
                        </font>
                    </font>
                </span></a><a href="http://dnat.de/ehrentafel-preistraeger/"><span style="color:#0000cd">
                    <font>
                        <font>
                            <font>
                                <font>Goldene Antenne&nbsp;</font>
                            </font>
                        </font>
                    </font>
                </span></a></p>

        <p><span style="color:#0000cd">
                <font>
                    <font>
                        <font>
                            <font>-&nbsp; </font>
                        </font>
                    </font>
                </font>
            </span><a href="http://photos.google.com/album/AF1QipOy03FJTzQrKgcK04pdfg17OkqLpuYkaUMvLDmc"><span
                    style="color:#0000cd">
                    <font>
                        <font>
                            <font>
                                <font>27.07.2014 -&nbsp; </font>
                            </font>
                        </font>
                    </font>
                </span></a><a href="http://photos.google.com/album/AF1QipOy03FJTzQrKgcK04pdfg17OkqLpuYkaUMvLDmc"><span
                    style="color:#0000cd">
                    <font>
                        <font>
                            <font>
                                <font>Simulare Situație de Urgență &icirc;n Cartierul Fabric din Timișoara</font>
                            </font>
                        </font>
                    </font>
                </span></a></p>

        <p><span style="color:#0000cd">
                <font>
                    <font>
                        <font>
                            <font>- </font>
                        </font>
                    </font>
                </font>
            </span><a href="http://photos.google.com/album/AF1QipN9I_FIh28A5s5-6vWN-EqhChHTAnNl_uyCt5WH"><span
                    style="color:#0000cd">
                    <font>
                        <font>
                            <font>
                                <font>22-23 mai 2015&nbsp; </font>
                            </font>
                        </font>
                    </font>
                </span></a><a href="http://photos.google.com/album/AF1QipN9I_FIh28A5s5-6vWN-EqhChHTAnNl_uyCt5WH"><span
                    style="color:#0000cd">
                    <font>
                        <font>
                            <font>
                                <font>Ședința Ham Radio a Pecica</font>
                            </font>
                        </font>
                    </font>
                </span></a><br />
            <br />
            <a href="https://www.youtube.com/watch?v=VmyEXsonyUw"><span style="color:#0000cd"><img
                        src="https://www.qrz.com/hampages/yo2kam/ZLU_3804.jpg"
                        style="height:167px; width:250px" /></span></a><span style="color:#0000cd">&nbsp;&nbsp;</span><a
                href="https://www.youtube.com/watch?v=sK4gWIALDck"><span style="color:#0000cd"><img
                        src="/hampages/yo2kam/ZLU_3815.jpg" style="height:160px; width:250px" /></span></a>
        </p>

        <p><span style="color:#0000cd">
                <font>
                    <font>
                        <font>
                            <font>- </font>
                        </font>
                    </font>
                </font>
            </span><a href="http://www.youtube.com/watch?v=uSiyvov9wdM"><span style="color:#0000cd">
                    <font>
                        <font>
                            <font>
                                <font>22-23.07.2015&nbsp; </font>
                            </font>
                        </font>
                    </font>
                </span></a><a href="http://www.youtube.com/watch?v=uSiyvov9wdM"><span style="color:#0000cd">
                    <font>
                        <font>
                            <font>
                                <font>Simulare avion prăbușit &icirc;n Lacul Tauț din județul Arad</font>
                            </font>
                        </font>
                    </font>
                </span></a></p>

        <p><span style="color:#0000cd">
                <font>
                    <font>
                        <font>
                            <font>-&nbsp; </font>
                        </font>
                    </font>
                </font>
            </span><a href="http://www.youtube.com/watch?v=aeAokkHIWpI&amp;t=89s"><span style="color:#0000cd">
                    <font>
                        <font>
                            <font>
                                <font>14.07.2016 -&nbsp; </font>
                            </font>
                        </font>
                    </font>
                </span></a><a href="http://www.youtube.com/watch?v=aeAokkHIWpI&amp;t=89s"><span style="color:#0000cd">
                    <font>
                        <font>
                            <font>
                                <font>Situație de Urgență - Pădurea Exercițiu - Moneasa - județul Arad</font>
                            </font>
                        </font>
                    </font>
                </span></a></p>

        <div class="block-images">
            <img
                src="https://cdn-bio.qrz.com/m/yo2kam/1627426590_1377708406726988643_n.jpg?p=32c55611de40fcd716d1f9fc6e4eb729" />

            <img
                src="https://cdn-bio.qrz.com/m/yo2kam/5283495891_8653241770843460971_n.jpg?p=32c55611de40fcd716d1f9fc6e4eb729" />
            <img
                src="https://cdn-bio.qrz.com/m/yo2kam/5544704865_2791219238169741121_n.jpg?p=32c55611de40fcd716d1f9fc6e4eb729" />
            <img
                src="https://cdn-bio.qrz.com/m/yo2kam/5634704856_3304072631768759776_o.jpg?p=32c55611de40fcd716d1f9fc6e4eb729" />
            <img src="https://cdn-bio.qrz.com/m/yo2kam/IMG_1759.JPG?p=32c55611de40fcd716d1f9fc6e4eb729" />
            <img src="https://cdn-bio.qrz.com/m/yo2kam/IMG_1752.JPG?p=32c55611de40fcd716d1f9fc6e4eb729" />
        </div>

        <p><span style="color:#0000cd"><span style="font-size:20px"><span
                        style="font-family:times new roman,times,serif"><span style="background-color:#ffffff">
                        </span></span></span></span><a href="http://www.youtube.com/watch?v=aeAokkHIWpI&amp;t=89s"><span
                    style="color:#0000cd">
                </span></a><a href="http://www.youtube.com/watch?v=aeAokkHIWpI&amp;t=89s">
                14.07.2016 -Situație de Urgență - Exercițiu Pădurea - Moneasa</a></p>

        <p>
            <font>
                <font>
                    <font>
                        <font>73 și cel mai bun DX, YO2MAB&nbsp;</font>
                    </font>
                </font>
            </font>
        </p>

        <p style="text-align:center"><span style="font-family:times new roman,times,serif">
                <font>
                    <font>
                        <font>
                            <font>2017-06-12</font>
                        </font>
                    </font>
                </font>
            </span></p>

        <div>
            <a href="http://info.flagcounter.com/3ns0" style="text-align: center;">
                <img alt="Contor de steaguri"
                    src="http://s10.flagcounter.com/count2/3ns0/bg_FFFFFF/txt_000000/border_CCCCCC/columns_8/maxflags_12/viewers_0/labels_0/pageviews_0/flags_0/percent_0/"
                    style="float:left" /></a>
        </div>



        <div>
            <a href="http://www.hamqsl.com/solar.html"
                title="Faceți clic pentru a adăuga date solare-terestre pe site-ul dvs.!">
                <img src="http://www.hamqsl.com/solarmuf.php" /></a>
        </div>


    </div>


    <div class="right">
        <div class="yo2kam-partners">
            <div class="title">Partnerships</div>
            <img src="https://www.qrz.com/hampages/yo2kam/turism.jpg" style="height:41px;" />
            <div><a href="https://www.cniptarad.ro/en/contact">ACT The National Tourism Information and Promotion
                    Center
                    of Arad County</a></div>
            <img src="https://www.qrz.com/hampages/yo2kam/Mako.jpg" style="height:50px;" />
            <div><a href="http://www.ha8kci.hu/">HA8KCI&nbsp; Mak&oacute;i R&aacute;di&oacute;amatőr Klub</a></div>
            <img src="https://www.qrz.com/hampages/yo2kam/Bekes.jpg" style="height:50px;" />
            <div><a href="https://www.qsl.net/ha8kwg/tartalom/tartalom.html">HA8KWG B&eacute;k&eacute;scsabai
                    V&aacute;rosi R&aacute;diklub</a></div>
        </div>
    </div>

</div>