<table align="left" border="0" cellpadding="0" cellspacing="0" style="height:20px; width:800px">
    <tbody>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td style="text-align:center">&nbsp;</td>
            <td style="text-align:center"><strong><span style="font-size:14px"><span
                            style="font-family:Arial,Helvetica,sans-serif">
                            <font>
                                <font>
                                    <font>
                                        <font>Partnerships</font>
                                    </font>
                                </font>
                            </font>
                        </span></span></strong></td>
        </tr>
        <tr>
            <td style="text-align:center"><img src="/hampages/yo2kam/Sigla_FRR_100x153.png"
                    style="height:60px; width:31px" /></td>
            <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp;&nbsp;</td>
            <td style="text-align:center"><img src="/hampages/yo2kam/turism.jpg" style="height:50px; width:60px" /></td>
            <td style="text-align:right"><span style="font-size:12px"><span style="font-family:Comic Sans MS,cursive"><a
                            href="https://www.cniptarad.ro/en/contact"><strong>The National Tourism Information and
                                Promotion Center of Arad County</strong></a></span></span></td>
        </tr>
        <tr>
            <td style="text-align:center"><img src="/hampages/yo2kam/Sigla_1_YO2KAM.jpg"
                    style="height:60px; width:60px" /></td>
            <td style="text-align:center">&nbsp;</td>
            <td style="text-align:center"><strong><span style="font-size:12px"><span
                            style="font-family:Comic Sans MS,cursive"><img src="/hampages/yo2kam/Mako.jpg"
                                style="float:left; height:50px; width:50px" /></span></span></strong></td>
            <td style="text-align:right"><strong><span style="font-size:12px"><span
                            style="font-family:Comic Sans MS,cursive"><a href="http://www.ha8kci.hu/">HA8KCI&nbsp;
                                Mak&oacute;i R&aacute;di&oacute;amatőr Klub</a></span></span></strong></td>
        </tr>
        <tr>
            <td style="text-align:center">&nbsp;</td>
            <td style="text-align:center">
                <p><a
                        href="https://www.cniptarad.ro/ro/harta-locatie/425-radioclub-yo2kam">https://www.cniptarad.ro/ro/harta-locatie/425-radioclub-yo2kam</a>
                </p>
            </td>
            <td style="text-align:center"><strong><span style="font-size:12px"><span
                            style="font-family:Comic Sans MS,cursive"><img src="/hampages/yo2kam/Bekes.jpg"
                                style="height:50px; width:26px" /></span></span></strong></td>
            <td style="text-align:right"><strong><span style="font-size:12px"><span
                            style="font-family:Comic Sans MS,cursive"><a
                                href="https://www.qsl.net/ha8kwg/tartalom/tartalom.html">HA8KWG
                                B&eacute;k&eacute;scsabai V&aacute;rosi R&aacute;diklub</a></span></span></strong></td>
        </tr>
    </tbody>
</table>

<p style="text-align:right">&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><span style="font-size:22px"><strong>Promovarea radioamatorismul, de Zilele Aradului, pe
            malul Mureșuluiv pe 23.08.2023</strong></span></p>

<p style="text-align:center"><a href="/hampages/yo2kam/369704970_2462483763921431_1612826881767558167_n.jpg"><img
            src="/hampages/yo2kam/369704970_2462483763921431_1612826881767558167_n.jpg"
            style="height:160px; width:325px" /></a>&nbsp;<img
        src="/hampages/yo2kam/369740574_2463079560528518_7569836492850080854_n.jpg"
        style="height:160px; width:284px" />&nbsp;<img
        src="/hampages/yo2kam/369746907_2463079787195162_8729528541265648137_n.jpg"
        style="height:160px; width:284px" />&nbsp;<img
        src="/hampages/yo2kam/370630480_2463079877195153_8039854366152908129_n.jpg"
        style="height:160px; width:284px" />&nbsp;<img
        src="/hampages/yo2kam/370773095_2463080477195093_802344611975160512_n.jpg"
        style="height:160px; width:284px" />&nbsp;<img
        src="/hampages/yo2kam/370675157_2463080107195130_3645865241316420424_n.jpg"
        style="height:160px; width:284px" />&nbsp;<img
        src="/hampages/yo2kam/369722527_2462894240547050_2085700325740470523_n.jpg" style="height:160px; width:119px" />
</p>

<p style="text-align:center"><strong><span style="font-size:22px">C&acirc;teva instantanee de la sărbătorirea
            re&icirc;nființării Radioclubului YO2KAM pe&nbsp;</span></strong><span
        style="font-size:22px"><strong>06.05.2023</strong></span></p>

<p style="text-align:center"><img src="/hampages/yo2kam/345560867_4527551344035722_661049319296856092_n.jpg"
        style="height:160px; width:284px" />&nbsp;<img
        src="/hampages/yo2kam/345560867_4527551344035722_661049319296856092_n.jpg"
        style="height:160px; width:284px" />&nbsp;<img
        src="/hampages/yo2kam/345441826_1225717761410866_8304137925315895225_n.jpg" style="height:160px; width:213px" />
</p>

<p style="text-align:center"><span style="font-size:22px"><strong>YO2KAM propune să activeze WCA YO-00183/AR-F03
            Fortress Series pe 06.05.2023</strong> </span></p>

<p><a href="https://www.welcometoromania.eu/DN79a/DN79a_Siria_Cetatea_e.htm">
        <font>
            <font>
                <font>
                    <font>https://www.welcometoromania.eu/DN79a/DN79a_Siria_Cetatea_e.htm</font>
                </font>
            </font>
        </font>
    </a></p>

<p style="text-align:center"><img src="/hampages/yo2kam/Castel_Siria.jpg" style="height:368px; width:500px" /></p>

<p style="text-align:center"><span style="font-size:22px"><strong>
            <font>
                <font>
                    <font>
                        <font>&Icirc;nainte de YO2KAM ... istorie</font>
                    </font>
                </font>
            </font>
        </strong></span></p>

<p><span style="color:#0000cd">
        <font>
            <font>
                <font>
                    <font>-&nbsp; </font>
                </font>
            </font>
        </font>
    </span><a href="http://dnat.de/ehrentafel-preistraeger/"><span style="color:#0000cd">
            <font>
                <font>
                    <font>
                        <font>Goldene Antenne 1991 - Stefan Szegedy, YO2BZ</font>
                    </font>
                </font>
            </font>
        </span></a><span style="color:#0000cd">&nbsp;</span></p>

<p><span style="color:#0000cd">
        <font>
            <font>
                <font>
                    <font>-&nbsp; </font>
                </font>
            </font>
        </font>
    </span><a
        href="https://get.google.com/albumarchive/112411423626176356824/album/AF1QipOcwTDgedAdHojoccsnetBr1PHef7gArA8cM-aM"><span
            style="color:#0000cd">
            <font>
                <font>
                    <font>
                        <font>In memoriam sk YO2BZ Szegedy Stefan - </font>
                    </font>
                </font>
            </font>
        </span></a><a href="http://dnat.de/ehrentafel-preistraeger/"><span style="color:#0000cd">
            <font>
                <font>
                    <font>
                        <font>Goldene Antenne&nbsp;</font>
                    </font>
                </font>
            </font>
        </span></a></p>

<p><span style="color:#0000cd">
        <font>
            <font>
                <font>
                    <font>-&nbsp; </font>
                </font>
            </font>
        </font>
    </span><a href="http://photos.google.com/album/AF1QipOy03FJTzQrKgcK04pdfg17OkqLpuYkaUMvLDmc"><span
            style="color:#0000cd">
            <font>
                <font>
                    <font>
                        <font>27.07.2014 -&nbsp; </font>
                    </font>
                </font>
            </font>
        </span></a><a href="http://photos.google.com/album/AF1QipOy03FJTzQrKgcK04pdfg17OkqLpuYkaUMvLDmc"><span
            style="color:#0000cd">
            <font>
                <font>
                    <font>
                        <font>Simulare Situație de Urgență &icirc;n Cartierul Fabric din Timișoara</font>
                    </font>
                </font>
            </font>
        </span></a></p>

<p style="text-align:center"><span style="color:#0000cd">
        <font>
            <font>
                <font>
                    <font>- </font>
                </font>
            </font>
        </font>
    </span><a href="http://photos.google.com/album/AF1QipN9I_FIh28A5s5-6vWN-EqhChHTAnNl_uyCt5WH"><span
            style="color:#0000cd">
            <font>
                <font>
                    <font>
                        <font>22-23 mai 2015&nbsp; </font>
                    </font>
                </font>
            </font>
        </span></a><a href="http://photos.google.com/album/AF1QipN9I_FIh28A5s5-6vWN-EqhChHTAnNl_uyCt5WH"><span
            style="color:#0000cd">
            <font>
                <font>
                    <font>
                        <font>Ședința Ham Radio a Pecica</font>
                    </font>
                </font>
            </font>
        </span></a><br />
    <br />
    <a href="https://www.youtube.com/watch?v=VmyEXsonyUw"><span style="color:#0000cd"><img
                src="/hampages/yo2kam/ZLU_3804.jpg" style="height:167px; width:250px" /></span></a><span
        style="color:#0000cd">&nbsp;&nbsp;</span><a href="https://www.youtube.com/watch?v=sK4gWIALDck"><span
            style="color:#0000cd"><img src="/hampages/yo2kam/ZLU_3815.jpg"
                style="height:160px; width:250px" /></span></a>
</p>

<p><span style="color:#0000cd">
        <font>
            <font>
                <font>
                    <font>- </font>
                </font>
            </font>
        </font>
    </span><a href="http://www.youtube.com/watch?v=uSiyvov9wdM"><span style="color:#0000cd">
            <font>
                <font>
                    <font>
                        <font>22-23.07.2015&nbsp; </font>
                    </font>
                </font>
            </font>
        </span></a><a href="http://www.youtube.com/watch?v=uSiyvov9wdM"><span style="color:#0000cd">
            <font>
                <font>
                    <font>
                        <font>Simulare avion prăbușit &icirc;n Lacul Tauț din județul Arad</font>
                    </font>
                </font>
            </font>
        </span></a></p>

<p><span style="color:#0000cd">
        <font>
            <font>
                <font>
                    <font>-&nbsp; </font>
                </font>
            </font>
        </font>
    </span><a href="http://www.youtube.com/watch?v=aeAokkHIWpI&amp;t=89s"><span style="color:#0000cd">
            <font>
                <font>
                    <font>
                        <font>14.07.2016 -&nbsp; </font>
                    </font>
                </font>
            </font>
        </span></a><a href="http://www.youtube.com/watch?v=aeAokkHIWpI&amp;t=89s"><span style="color:#0000cd">
            <font>
                <font>
                    <font>
                        <font>Situație de Urgență - Pădurea Exercițiu - Moneasa - județul Arad</font>
                    </font>
                </font>
            </font>
        </span></a></p>

<p style="text-align:center"><span style="color:#0000cd"><img
            src="/hampages/yo2kam/5634704856_3304072631768759776_o.jpg" style="height:167px; width:251px" />
        <font>
            <font>
                <font>
                    <font>​&nbsp;</font>
                </font>
            </font>
        </font><img src="/hampages/yo2kam/13729053_256805544704865_2791219238169741121_n.jpg"
            style="height:167px; width:250px" />&nbsp;<img
            src="/hampages/yo2kam/13925209_268895283495891_8653241770843460971_n.jpg"
            style="height:160px; width:284px" /><img
            src="/hampages/yo2kam/10660238_262921627426590_1377708406726988643_n.jpg"
            style="height:141px; width:250px" />&nbsp;<img src="/hampages/yo2kam/IMG_1759.JPG"
            style="height:140px; width:250px" />&nbsp;<img src="/hampages/yo2kam/IMG_1752.JPG" style="width:250px" />
    </span></p>

<p><span style="color:#0000cd"><span style="font-size:20px"><span style="font-family:times new roman,times,serif"><span
                    style="background-color:#ffffff">
                    <font>
                        <font>
                            <font>
                                <font>-&nbsp;</font>
                            </font>
                        </font>
                    </font>
                </span></span></span></span><a href="http://www.youtube.com/watch?v=aeAokkHIWpI&amp;t=89s"><span
            style="color:#0000cd">
            <font>
                <font>
                    <font>
                        <font> 14.07.2016 -&nbsp;</font>
                    </font>
                </font>
            </font>
        </span></a><a href="http://www.youtube.com/watch?v=aeAokkHIWpI&amp;t=89s"><span style="color:#0000cd">
            <font>
                <font>
                    <font>
                        <font>Situație de Urgență - Exercițiu Pădurea - Moneasa</font>
                    </font>
                </font>
            </font>
        </span></a></p>

<p>
    <font>
        <font>
            <font>
                <font>73 și cel mai bun DX, YO2KAM</font>
            </font>
        </font>
    </font>
</p>

<p style="text-align:center"><span style="font-family:times new roman,times,serif">
        <font>
            <font>
                <font>
                    <font>2017-06-12</font>
                </font>
            </font>
        </font>
    </span></p>

<div><a href="http://info.flagcounter.com/3ns0" style="text-align: center;"><img alt="Contor de steaguri"
            src="http://s10.flagcounter.com/count2/3ns0/bg_FFFFFF/txt_000000/border_CCCCCC/columns_8/maxflags_12/viewers_0/labels_0/pageviews_0/flags_0/percent_0/"
            style="float:left" /></a></div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div style="text-align:center"><strong><strong><strong><strong><span style="font-family:Courier New">&nbsp;&nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></strong></strong></strong></strong><a
        href="http://www.hamqsl.com/solar.html"
        title="Faceți clic pentru a adăuga date solare-terestre pe site-ul dvs.!"><img
            src="http://www.hamqsl.com/solarmuf.php" /></a></div>

<p>&nbsp;</p>